# ========================
# Python cache
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ========================
# Virtual environments
# ========================
venv/
.venv/
env/
ENV/

# ========================
# Streamlit cache
# ========================
.streamlit/
.streamlit/secrets.toml

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Logs & temp files
# ========================
*.log
*.tmp

# ========================
# Jupyter (if ever used)
# ========================
.ipynb_checkpoints/
